* {
    margin: 0;
    padding: 0;
    font-family: 'Advent Pro', sans-serif;
}

body {
    font-size: 10px;
    background-color: #F5A6BB;
}


/*---------------------
# Sección del navegador
----------------------*/

header {
    width: 100%;
    height: auto;
    margin: auto;
}
.bodyGeneral {
    width: 160em;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 45em;
    height: 10em;
    margin-top: 4em;
    background-image: url(../img/logo_black.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.encabezado {
    width: 110em;
    height: 10em;
    margin-top: 4em;
    /*sin color*/
}
ul{
    display: inline; 
    float: right;
}
li{
    margin-top: 2.5em;/*margen arriba*/
    display: inline-block;
}
ul#textos li a{
    position: relative;
    color: #343436;
    margin: 1em;
    padding: 0.5em 0.2em 0.5em;
    text-decoration: none;
    font-size: 3em;
}
ul#textos li a:after{
    position: absolute;
    bottom: 0.1em;
    left: 0px;
    width: 100%;
    height: 0.2em;
    background-color: #343436;
    content: "";
    opacity: 0;
    transition: opacity 0.2s ease 0s, transform 0.3s ease 0s;
    transform: translateY(1em);
}
ul#textos li a:hover:after{
    opacity:1;
    transform: translateY(15px);
}

@media only screen and (max-width: 1600px) {
    /* Laptop 1600px */
    body {
        font-size: 8.5px;
    }
}

@media only screen and (max-width: 1366px) {
    /* Laptop */
    body {
        font-size: 7px;
    }
}


/*-------------------------
# Sección de los productos
-------------------------*/

section {
    width: 100%;
    height: auto;
}

.producto {
    width: 35em;
    height: 70em;
    margin-top: 10em;
}

.img {
    width: 100%;
    height: 30em;
    background-color: gray;
}

.img1 {
    background-image: url(../img/foto_blackpink.jpg);
    background-size: cover;
    background-position: center;
}
.img2 {
    background-image: url(../img/BLACKPINK%20-%20How%20You%20Like%20That%20Lyrics%20_%20Kgasa.jpg);
    background-size: cover;
    background-position: center;
}
.img3 {
    background-image: url(../img/the_album.jpeg);
    background-size: cover;
    background-position: center;
}
.img4 {
    background-image: url(../img/foto_blink.jpg);
    background-size: cover;
    background-position: center;
}
.titulo {
    width: 100%;
    height: 5em;
    margin-top:3em;
}

.titulo h1 {
    font-size: 3em;
}

.parrafo {
    width: 100%;
    height: auto;
    margin-top: 2em;
}

.parrafo p {
    font-size: 2em;
    text-align: justify;
}


/*-------------------------
# Sección mobil
-------------------------*/

@media only screen and (max-width:767px) {
    .bodyGeneral {
        width: 95%;
    }
.logo {
    width: 40%;
    height: 10em;
    margin-top: 1em;
}
.encabezado {
    width: 55%;
    height: 10em;
    margin-top: 1em;
    text-align: right;
    padding-top: 2em;
    box-sizing: border-box;
    /*sin color*/
}
ul{
    width: 100%;
    height: 10em;
}
ul#textos li a{
    font-size: 1.6em;
}
.bodyContenido {
    display: block;
}
.producto {
    width: 100%;
}
.img {
    width: 100%;
    height: 50em;
    background-color: gray;
}
